.THIS .flowruntimeInputWrapper{
    width : 400px;
}

.THIS .uiInputSelect{
    width : -webkit-fill-available;
}

.THIS .slds-card__header-link{
    font-size: large;
      
 }

.THIS .slds-media__body{
    border-bottom: 1px #6B6D70 solid;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.THIS span{
   font-size: 12px; 
}